numpy==1.23.5
opencv-python==4.7.0.72
scikit-image==0.21.0
tk==0.1.0
pillow==9.5.0
onnx==1.14.1
onnxruntime-gpu==1.16.2
onnxruntime-directml==1.16.2
protobuf==4.23.2
torch==2.0.0
torch-directml
torchvision 
torchaudio 

tqdm
ftfy
regex

